:root {
  --fontNum: ;
  --fontText: 'Roboto Condensed', sans-serif;
  --size: 16px;

  --colorBg: #393e46;
  --colorBgHeader: #222831;
  --colorTextHeader: #ebebeb;

  --colorRuleOne: #f6f5f5;
  --colorRuleTwo: #90b2cc;
  --colorTextRule: #262335;
  --colorEqual: #008891;
  --colorTextAccent: #e9e8f0;
  --colorBorde: #ef4f4f;

  --colorBgFooter: #393e46;
  --colorTextFooter: #dadada;
  --sizeFooter: 20rem;

  --colorNumInput: #29a19c;
  --colorNumResult: #ef4f4f;
}